* {
    z-index: 1;
    color: white;
}

.purple {
	color: #c770f0;
}

.ta-c {
	text-align: center;
}

/* --------------------------------------------------------------------- */
/* Navbar Section */
/* --------------------------------------------------------------------- */
.navbar {
	position: fixed !important;
	padding: 0.3rem 2rem !important;
	font-size: 1.2rem !important;
	transition: all 0.3s ease-out 0s !important;
}

.navbarSticky {
	background-color: #212038d8 !important;
	backdrop-filter: blur(15px) !important;
	box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
}

.navbar-brand {
	text-align: left;
    width: 3rem;
}

.navbar-nav {
	margin-left: auto;
}

.navbar-nav svg {
	margin-bottom: 2px;
}

.navbar-nav a {
	color: white !important;
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.navbar-nav a::after {
	content: "";
	display: block;
	height: 5px;
	width: 0;
	border-radius: 16px;
	background: #c95bf5;
	transition: all 0.3s ease-out 0s;
}

.navbar-nav a:hover::after {
	width: 100%;
}

.navbar-toggler {
	padding: 0.25rem 1.5rem !important;
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-toggler span {
	display: block !important;
    background-color: #be50f4 !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
	transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute !important;
    left: 24px !important;
    top: 8px !important;
    transform: rotate(135deg) !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px !important;
    visibility: hidden !important;
    background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute !important;
    left: 24px !important;
    top: 8px !important;
    transform: rotate(-135deg) !important;
}

@media (max-width: 767px) {
	
	.navbar {
		padding: 1rem 2rem !important;
		font-size: 1.4rem !important;
		background-color: #181a27 !important;
    }

	.navbar-nav svg {
		margin-right: 0.5rem;
	}

	.navbar-nav a {
		display: flex;
		align-items: center;
	}
	
    .navbar-nav a::after {
		display: none !important;
    }
	
	.nav-link {
		padding: 0.7rem 1rem !important;
	}
}

/* --------------------------------------------------------------------- */
/* Home Page Section */
/* --------------------------------------------------------------------- */
.homeHeader {
	margin-top: calc(5rem + 10vmin);
	display: flex;
	justify-content: center;
	font-size: calc(20px + 2vmin);
}

.homeContent {
	margin-top: 160px;
	display: flex;
	justify-content: center;
	font-size: calc(20px + 2vmin);
	line-height: 1.5;
}

/* .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #be6adf !important;
    font-weight: 600 !important;
} */

/* .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #b562d6 !important;
} */

.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.1s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% { transform: rotate(0deg); }
	10% { transform: rotate(14deg); } 
	/* The following five values can be played with to make the waving more or less extreme */
	20% { transform: rotate(-8deg); }
	30% { transform: rotate(14deg); }
	40% { transform: rotate(-4deg); }
	50% { transform: rotate(10deg); }
	60% { transform: rotate(0deg); } 
	/* Reset for the last half to pause */
	100% { transform: rotate(0deg); }
}

/* --------------------------------------------------------------------- */
/* Projects */
/* --------------------------------------------------------------------- */
.projectPage {
	position: relative !important;
	padding-top: calc(5rem + 10vmin) !important;
	padding-bottom: 2rem !important;
}
  
.projectCol {
    padding: 3.5rem 2rem !important;
}

.projectCard {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
}

.projectCard:hover {
    transform: scale(1.02) !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}
  
.projectCard img {
  	padding: 20px !important;
  	opacity: 0.8 !important;
  	border-radius: 10px !important;
}
  
.projectCard a {
    background-color: #623686 !important;
    border-color: #623686 !important;
    align-self: end !important;
    margin: 0px 0.5rem
}
  
.projectCard a:hover {
    background-color: #6d20c5d7 !important;
    border-color: #6d20c5d7 !important;
}

.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1.5s all ease;
}
  
.reveal.active{
	transform: translateY(0);
	opacity: 1;
}